body{
  background-image: url("./faded-office.png");
  background-size:cover;
  
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size:x-large;
  color:#020202;
  padding: 50px;
}

h1{
  font-weight: 900;
}

p{
  font-weight: 500;
}

button{
  background-color: #0ea5e9;
  color: white;
  border: none;
  font-size:20px;
  font-weight: bold;
  padding: 20px 30px;
}

span{
  border-bottom:5px solid #0ea5e9;
}